---
import { getPosts } from "../../lib/payload";
import Layout from "../../layouts/BlogPost.astro";

const posts = await getPosts();
---

<html>
     <head>
          <title>Doug Chu Codes</title>
     </head>
     <body>
          <h1>Blog</h1>
          <ul>
               {
                    posts.map((post: any) => (
                         <li>
                              <a href={`/blog/${post.slug}`}>
                                   <h2>{post.title}</h2>
                              </a>
							  <time>{new Date(post.publishedAt).toLocaleDateString('en-US', {
          year: 'numeric',
          month: 'long',
          day: 'numeric'
        })}</time>
                              <p>Published: {post.publishedAt}</p>
                         </li>
                    ))
               }
          </ul>
     </body>
</html>
