---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
     title="About Me"
     description="Who the heck made this, anyway?"
     pubDate={new Date("Feb 12, 2026")}
     <p>My name is Doug, and this is a website.</p>
</Layout>
