---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<head>
     <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
     <Header />
     <main>
          <h1>Portfolio</h1>
          <p>Gaze upon my works, ye mighty, and despair!</p>
     </main>
     <Footer />
</body>
