---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import constructionManGif from "../assets/old-under-construction-gif.gif";
import { Image } from "astro:assets";
import { getAllProjects } from "../data/projects";
import ProjectCard from "../components/ProjectCard";

const projects = getAllProjects();
---

<!doctype html>
<head>
     <BaseHead
          title={`Portfolio | ${SITE_TITLE}`}
          description={SITE_DESCRIPTION}
     />
</head>
<body>
     <Header />
     <main class="portfolio-main">
          <h1>Portfolio</h1>
          <ul class="project-grid">
               {projects.map((p) => <ProjectCard project={p} />)}
          </ul>
     </main>
     <Footer />
</body>

<style>
     .portfolio-main {
          width: 90%;
          max-width: 1100px;
     }
     .project-grid {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
          justify-items: center;
          align-items: stretch;
     }
</style>
