.card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    border: 1px solid 	#006a65;
    border-radius: 20px;
    padding: 0 1em 1em 1em;
    background-color: #fff;
    justify-content: center;
    --tech-tag-font-size: 0.9em;
}

.card p {
    font-family: "Atkinson", monospace, sans-serif;
}


.cardBody {
    display: grid;
    grid-area: body;    
}

.cardHeader {
    grid-area: header;
}

.cardFooter {
    grid-area: footer;
}


.image {
    width: 100%;
    aspect-ratio: 4 / 3;
    margin-top: 0.5em;
    margin-inline: auto;
    display: block;
    align-self: center;
    object-fit: cover; 
    border-radius: 12px;   
}

.projectCardTitle {
    margin-top: 0.5em;
    color: #006a65
}

.description {
    color: #472243
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
    padding: 0;
    color: #fff;
}

.stackTag {
    flex-basis: 100%;
    text-align: center;
    margin: 0 -1em 5px -1em;
    padding: 0.25em 0;
    border-radius: 20px 20px 0 0;
    background-color: #472243;
    color: #fff;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem;
}

.links li {
    background-color: #472243;
    border-radius: 30px;
    padding: 5px 15px;
}

.links li[data-link="source"]  {
    background-color: #08872b;
}

.link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    color: #fff;
}

.linkIcon {
    width: 1.25rem;
    height: 1.25rem;
}

@media (min-width: 600px) {
    .image {
        width: 60%;
    }
}

